# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/
*.eggs

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# data
*logs

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project-relevant
imgui.ini

# directories that should be ignored in general
# but can be excluded explicitly
tmp/
*data/
demos/

# docker image
**.sqsh